.see-example-box{
    position: absolute;
    top: 40%;
    left: 48%;
	transform: translate(-47%, -50%);
	-webkit-transform: translate(-47%, -50%);
	z-index:99;
	background:#ffffff;
	width: 62%;
}
.see-example-box p { margin-bottom:0; text-align: unset;}
.see-example-box-title,
.see-example-box-image-title{
    position: relative;
    color: #737373;
}
.see-example-box-title:after{
    content: "";
    background: #01adef;
    position: absolute;
    bottom: -15px;
    left: 24%;
    height: 2px;
    width: 52%;
}
.see-example-box-image-title:after{
    content: "";
    background: #01adef;
    position: absolute;
    bottom: -10px;
    left: 28%;
    height: 2px;
    width: 44%;
}
.see-example-box-subtitle{
    margin: 25px 0;
    color: #737373; 
}
.see-example-box .text-left{ padding-left:5px; /*margin-top: 20px;*/}

.modal-content.example-photo-project-modal{
    border: 3px solid #b7b6b8;
	border-radius:1px;
}
.example-photo-project-modal p{
    font-size: 12px;
    color: #737373;
}
#exampleModal .modal-open .modal {
    margin-top: 15px;
}
#exampleModal .modal .modal-header{
    padding: 12px!important;
}
.modal-content.example-photo-project-modal .modal-body{
    padding-top: 0!important;
}
#exampleModal .modal-open .modal button.close{
    position: absolute;
    right: 15px;
    top: 10px;
}

ul.share-list-bottom{
	list-style-type: none;
	text-align:right;
    padding-left: 0;
}

.share-list-bottom li{
	display: inline-block;
	/*padding-right: 15px;*/
	border: 1px solid #ddd;
    margin: -2px;
}

/*.share-list-bottom li:last-child{padding-right: 0px; border-right: none;}*/
.share-list-bottom li a{padding: 6px 8px;}

a.center-plus-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.center-plus-button i{
    font-size: 16px;
}

.tour-info{position:absolute; background:rgba(255,255,255,0.9);border-radius:5px;-webkit-border-radius:5px;padding:7px;padding-bottom:20px;bottom:170px;max-width:180px;width:181%;left:-26px;border:1px solid #ccc;opacity:0;visibility:hidden;z-index:99}
.one{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.two{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.three{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.tour-info:after{content:'';background:url('') no-repeat; width:48px;height:46px; position:absolute; bottom:-30px;left:50%;margin-left:-24px;display:block}

.tour-info a {float: right; color: #333333;line-height: 1;margin-top: -5px;}
.title-tour{font-size:14px; margin-top:12px; text-align:center}
.title-tour:after{content:'';border-bottom:2px solid #01adef; display:block;width:50px; margin:12px auto}
.tour-content{font-size:11px;padding:0 5px;line-height:1.2}
.tour-info.left {bottom: 45%;width: 160px;right: 90%;left: auto;padding-right:12px}
.tour-info.left:after{left:auto;right:-40px;margin-left:0;bottom:50%;margin-bottom:-23px;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}
.tour-info.left a{margin-right:-5px}

#pro-tour-info-2 {  left: 4%;  bottom: 100%;}
#pro-tour-info-1.tour-info.left::after{top: -160px;right: 51px;transform: rotate(180deg);-webkit-transform: rotate(180deg);}
#pro-tour-info-1.tour-info.left{left: 35%;bottom: -138%;}

@media(max-width: 1280px){
    .tour-info.left {left:0;width:116%;}
    /* .tour-info.left:after{content:'';background:url(/img/arrow-down-tour.png) no-repeat; width:48px;height:46px; position:relative; bottom:-30px;left:50%;margin-left:-24px;display:block;transform: rotate(0deg);-webkit-transform: rotate(0deg);} */
    #pro-tour-info-1.tour-info.left{left: 35%;}
}


@media(max-width: 640.50px){
    #pro-tour-info-1.tour-info.left{ bottom: 114%;   }
    #pro-tour-info-1.tour-info.left::after{ bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); top: unset;}
}

@media(max-width: 550px){
    #pro-tour-info-1.tour-info.left{ left: 29%;}
}

@media(max-width: 430px){
    #tour-info-1.tour-info.left{ left: 19%; }
}

.navbar-header img {
    max-width: 200px;
}

@media (min-width: 981px){
/*#bs-navbar ul li a,.menu-icons-style{color: #ffffff;}*/
#bs-navbar ul li a.blue-btn{color:#fff}
#bs-navbar ul li a.blue-btn:hover{background:#01adef; color:#fff; border-radius:0;-webkit-border-radius:0;border-color:transparent}
.home-header.fixed #bs-navbar ul li a,.home-header.fixed .menu-icons-style{color: #121212;}

.home-header.fixed #bs-navbar ul li.h-get-started a{color: #fff;}
.navbar-header img{ padding-left:10px;}
}

@media(max-width: 980px){
	.myaccount.dropdown ul.dropdown-menu li{
		display:none!important;
	}
}
