.see-example-box{
    position: absolute;
    top: 40%;
    left: 48%;
	transform: translate(-47%, -50%);
	-webkit-transform: translate(-47%, -50%);
	z-index:99;
	background:#ffffff;
	width: 62%;
}
.see-example-box p { margin-bottom:0; text-align: unset;}
.see-example-box-title,
.see-example-box-image-title{
    position: relative;
    color: #737373;
}
.see-example-box-title:after{
    content: "";
    background: #01adef;
    position: absolute;
    bottom: -15px;
    left: 24%;
    height: 2px;
    width: 52%;
}
.see-example-box-image-title:after{
    content: "";
    background: #01adef;
    position: absolute;
    bottom: -10px;
    left: 28%;
    height: 2px;
    width: 44%;
}
.see-example-box-subtitle{
    margin: 25px 0;
    color: #737373; 
}
.see-example-box .text-left{ padding-left:5px; /*margin-top: 20px;*/}

.modal-content.example-photo-project-modal{
    border: 3px solid #b7b6b8;
	border-radius:1px;
}
.example-photo-project-modal p{
    font-size: 12px;
    color: #737373;
}
#exampleModal .modal-open .modal {
    margin-top: 15px;
}
#exampleModal .modal .modal-header{
    padding: 12px!important;
}
.modal-content.example-photo-project-modal .modal-body{
    padding-top: 0!important;
}
#exampleModal .modal-open .modal button.close{
    position: absolute;
    right: 15px;
    top: 10px;
}

ul.share-list-bottom{
	list-style-type: none;
	text-align:right;
    padding-left: 0;
}

.share-list-bottom li{
	display: inline-block;
	/*padding-right: 15px;*/
	border: 1px solid #ddd;
    margin: -2px;
}

/*.share-list-bottom li:last-child{padding-right: 0px; border-right: none;}*/
.share-list-bottom li a{padding: 6px 8px;}

a.center-plus-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.center-plus-button i{
    font-size: 16px;
}

.tour-info{position:absolute; background:rgba(255,255,255,0.9);border-radius:5px;-webkit-border-radius:5px;padding:7px;padding-bottom:20px;bottom:170px;max-width:180px;width:181%;left:-26px;border:1px solid #ccc;opacity:0;visibility:hidden;z-index:99}
.one{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.two{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.three{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.tour-info:after{content:'';background:url('') no-repeat; width:48px;height:46px; position:absolute; bottom:-30px;left:50%;margin-left:-24px;display:block}

.tour-info a {float: right; color: #333333;line-height: 1;margin-top: -5px;}
.title-tour{font-size:14px; margin-top:12px; text-align:center}
.title-tour:after{content:'';border-bottom:2px solid #01adef; display:block;width:50px; margin:12px auto}
.tour-content{font-size:11px;padding:0 5px;line-height:1.2}
.tour-info.left {bottom: 45%;width: 160px;right: 90%;left: auto;padding-right:12px}
.tour-info.left:after{left:auto;right:-40px;margin-left:0;bottom:50%;margin-bottom:-23px;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}
.tour-info.left a{margin-right:-5px}

#pro-tour-info-2 {  left: 4%;  bottom: 100%;}
#pro-tour-info-1.tour-info.left::after{top: -160px;right: 51px;transform: rotate(180deg);-webkit-transform: rotate(180deg);}
#pro-tour-info-1.tour-info.left{left: 35%;bottom: -138%;}

@media(max-width: 1280px){
    .tour-info.left {left:0;width:116%;}
    /* .tour-info.left:after{content:'';background:url(/img/arrow-down-tour.png) no-repeat; width:48px;height:46px; position:relative; bottom:-30px;left:50%;margin-left:-24px;display:block;transform: rotate(0deg);-webkit-transform: rotate(0deg);} */
    #pro-tour-info-1.tour-info.left{left: 35%;}
}


@media(max-width: 640.50px){
    #pro-tour-info-1.tour-info.left{ bottom: 114%;   }
    #pro-tour-info-1.tour-info.left::after{ bottom: -10px; transform: rotate(0deg); -webkit-transform: rotate(0deg); top: unset;}
}

@media(max-width: 550px){
    #pro-tour-info-1.tour-info.left{ left: 29%;}
}

@media(max-width: 430px){
    #tour-info-1.tour-info.left{ left: 19%; }
}

.navbar-header img {
    max-width: 200px;
}

@media (min-width: 981px){
/*#bs-navbar ul li a,.menu-icons-style{color: #ffffff;}*/
#bs-navbar ul li a.blue-btn{color:#fff}
#bs-navbar ul li a.blue-btn:hover{background:#01adef; color:#fff; border-radius:0;-webkit-border-radius:0;border-color:transparent}
.home-header.fixed #bs-navbar ul li a,.home-header.fixed .menu-icons-style{color: #121212;}

.home-header.fixed #bs-navbar ul li.h-get-started a{color: #fff;}
.navbar-header img{ padding-left:10px;}
}

@media(max-width: 980px){
	.myaccount.dropdown ul.dropdown-menu li{
		display:none!important;
	}
}


.select-area {text-align: center;font-size: 30px;border: 2px solid #ddd;display: inline-block;}
.select-area.large-area {width: 150px;height: 150px;margin-top: 45px;padding-top: 38px;line-height: 1.1}
.blue-text {color: #01acf2;}
.select-area .text-add {font-size: 14px;display: block;}


.tour-info{position:absolute; background:rgba(255,255,255,0.9);border-radius:5px;-webkit-border-radius:5px;padding:7px;padding-bottom:38px;bottom:170px;max-width:180px;width:100%;left:0;border:1px solid #ccc;opacity:0;visibility:hidden;z-index:99}
.one{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.two{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
.three{transition:0.5s all;-webkit-transition:0.5s all;opacity:1;visibility:visible}
/* .tour-info:after{content:'';background:url(/img/arrow-down-tour.png) no-repeat; width:48px;height:46px; position:absolute; bottom:-30px;left:50%;margin-left:-24px;display:block} */
.tour-info a {
	float: right;
	color: #333333;
	line-height: 1;
	margin-top: -5px;
}
.title-tour{font-size:14px; margin-top:12px; text-align:center}
.title-tour:after{content:'';border-bottom:2px solid #01adef; display:block;width:50px; margin:12px auto}
.tour-content{font-size:11px;padding:0 5px;line-height:1.2}
<!--.tour-info.left {bottom: 20px;width: 190px;right: 90%;left: auto;padding-right:12px}-->
.tour-info.left {
	bottom: 20px;
	width: 160px;
	right: 64%;
	left: auto;
	padding-right: 12px;
}
.tour-info.left:after{left:auto;right:-40px;margin-left:0;bottom:50%;margin-bottom:-23px;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}
.tour-info.left a{margin-right:-5px}

/*#tour-info-2 {
	left: 41%;
	bottom: 154px;
	top: auto;
}
#tour-info-1 {
    left: 0;
    bottom: 50%;
	max-width:150px;
}*/

#tour-info-1 {
    left: -20px !important;
}
#tour-info-2 {
    left: 4.6vw;
    bottom: inherit;
    top: -160px;
}

.swatch-spec-box{
    position: absolute;
    top: 54%;
    left: 46%;
	transform: translate(-47%, -50%);
	-webkit-transform: translate(-47%, -50%);
	z-index:99;
	background:#ffffff;
	width: 100%;
	max-width: 555px;
}
.swatch-spec-box .overview{position:static; max-width:100%;border: 3px solid #b7b6b8;padding: 0 10px;}
.swatch-spec-box .overview:before,.swatch-spec-box .overview:after{display:none}
.swatch-spec-box .swatch {
	padding: 26px;
	position: relative;
	min-height: 240px;
}
.swatch-spec-box .swatch.pic {
    height: auto;
    display: flex;
}
.swatch-spec-box .swatch.pic img{
    width: 92.80%;
}
.swatch-spec-box .swatch.pic:after{
    content: "";
    background: #b7b6b8;
    position: absolute;
    bottom: 22px;
    right: 6px;
    height: 83%;
    width: 2px;
}
.swatch-spec-box .swatch.pic img{ max-height:210px;}
.swatch-spec-box .swatch-contents { padding-top:8px; margin-bottom:18px;}
.swatch-spec-box p { margin-bottom:0; text-align: unset;}
.swatch-spec-box .brand,.swatch-spec-box .brand2 {font-weight:bold; font-size: 14px; position: relative; margin-bottom: 10px;}
.swatch-contents .swatch-inner-wrapper{
    padding: 15px;
}
.swatch-contents .swatch-inner-wrapper2{
    padding: 0 15px 15px 15px;
}
.swatch-spec-box .brand:after,.swatch-spec-box .brand2:after{
    content: "";
    background: #b7b6b8;
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 2px;
    width: 87%;
}
.swatch-spec-box .text-left{ padding-left:5px; }

.swatch-spec-box .overview .right-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    height: 157px;
    width: 100%;
}

.swatch-details-right-section{
    height: 238px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}




@media(max-width: 1280px){
	.tour-info.left {bottom:170px;left:0;width:116%;}
	/* .tour-info.left:after{content:'';background:url(/img/arrow-down-tour.png) no-repeat; width:48px;height:46px; position:absolute; bottom:-30px;left:50%;margin-left:-24px;display:block;transform: rotate(0deg);-webkit-transform: rotate(0deg);} */
}

@media(max-width: 407.50px){
    .zoom-box .area-selections{
        display: grid;
        justify-content: center;
    }
}
@media(max-width: 767.50px){
    .swatch-spec-box .swatch.pic::after {
        content: "";
        background: #b7b6b8;
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 96%;
    }
    .swatch-spec-box .overview .right-row .right-description-panel{
        width: 100%;
    }
    .swatch-spec-box .text-left{
        padding-left: 15px;
    }
    .swatch-spec-box .brand::after, .swatch-spec-box .brand2::after{
        width: 100%;
    }
	.arrowdown{
		bottom: -150px;
	}
}

.selected-area-list:before {
    content: '';
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    z-index: 1;
	display:none;
}
.selected-area-list:after {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ccc;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -11px;
	display:none;
}


.overflowvisible{
	overflow:unset !important;
	z-index: 99;
}

.custombox {
    width: calc(100% - 0%);
}

.selected-area-list {
    background: rgba(255,255,255,0.7);
    padding: 15px;
    border: 0px solid #ddd;
    position: absolute;
    
    transform: translateX(-50%);
    -webkit-transform: translateX(50%);
    width: 100%;
    display: none;
    max-width: 338px;
    margin-right: 0;
    z-index: 9999;
    margin-bottom: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: inherit;
}
.selected-item{
	width: 100%;
    min-width: 90px;
	margin-bottom:0 !important;
}



.area-element {
    width: 100%;
    display: inline-block;
    /* margin-right: 12px; */
    /* margin-left: 10px; */
    margin-bottom: 12px;
    vertical-align: top;
    position: relative;
    padding: 0 15px;
}
.selected-area-list .area-items.active .itembox{box-shadow:0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)}
.areabox {
    height: 130px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    position: relative;
}
.area-image {
    height: 121px;
    width: 100%;
    overflow: visible;
    border: 1px solid #eee;
    border-bottom: 0;
    margin-top: 8px;
    margin-left: -10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.area-image img {
    height: 121px;
    width: 100%;
}


.swipebtn.swipebtnmain.swiper-button-next {
    height: 40px !important;
    bottom: 80px !important;
    margin: inherit;
    top: inherit !important;
}

.swipebtn.swipebtnmain.swiper-button-prev {
    height: 40px !important;
    bottom: 80px !important;
    margin: inherit;
    top: inherit !important;
	left: -20px !important;
    right: inherit !important;
	margin-left: 0;
}





@media only screen and (min-device-width : 992px) and (max-device-width : 1024px) {
	#tour-info-2 {
		top: -145px;
		left: 16.5vw;
		width: 120px;
	}
}

@media only screen and (min-device-width : 640px) and (max-device-width : 768px) {
	#tour-info-2 {
		top: -158px;
		left: 6.5vw;
	}
	
	
}


@media only screen and (min-device-width : 376px) and (max-device-width : 414px) {
	#tour-info-1 {
		left: -0.8vw !important;
		top: -50px !important;
		width: 120px;
	}
	#tour-info-2 {
		top: -145px;
		left: 19vw;
		width: 120px;
	}

}

@media only screen and (min-device-width : 361px) and (max-device-width : 375px) {
	#tour-info-1 {
		left: -3.8vw !important;
		top: -50px !important;
		width: 120px;
	}
	#tour-info-2 {
		top: -145px;
		left: 17.3vw;
		width: 120px;
	}
}

@media only screen and (min-device-width : 321px) and (max-device-width : 360px) {
	#tour-info-1 {
		left: -3.8vw !important;
		top: -70px !important;
		width: 120px;
	}
	
	#tour-info-2 {
		top: -145px;
		left: 16.5vw;
		width: 120px;
	}
}

@media (min-width: 290px) and (max-width: 320px) {
	#tour-info-1 {
		left: -3.8vw !important;
		top: -70px !important;
		width: 120px;
	}
	#tour-info-2 {
		top: -145px;
		left: 13vw;
		width: 120px;
	}
}



.area-image + .area-image {
    bottom: -22px !important;
}
.area-image {
    bottom: -9px !important;
}

.box-testimonial:before {
    content: '';
    width: 40px;
    height: 20px;
    background: rgba(255,255,255,0.4);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.box-testimonial:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: -15px;
    /* background: url(/img/quote.png) no-repeat center center; */
    height: 28px;
    width: 28px;
    background-size: contain;
}

.customers-saying {
    background: url(/src/img/customers-saying.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.customers-saying:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.76);
    z-index: -1;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.title {
    font-size: 48px;
    padding: 35px 0 25px;
    font-weight: 300;
    color: #121212;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.flex-flow {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    column-fill: initial;
    margin-left: 0;
    margin-right: 0;
}
.flexbox {
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}
.box-testimonial:before {
    content: '';
    width: 40px;
    height: 20px;
    background: rgba(255,255,255,0.4);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.box-testimonial:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: -15px;
    /* background: url(/img/quote.png) no-repeat center center; */
    height: 28px;
    width: 28px;
    background-size: contain;
}